In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
school_data_complete.shape

(39170, 11)

## District Summary

* Total number of schools

* Total number of students

* Total budget

* Average math score 

* Average reading score

* Percentage of students with a passing math score (70 or greater)

* Percentage of students with a passing reading score (70 or greater)

* Percentage of students who passed math **and** reading (% Overall Passing)

In [3]:
# Total Number of Schools
total_schools = len(school_data_complete["school_name"].unique().tolist())
total_schools

15

In [4]:
# Total Number of Students
total_students = len(school_data_complete["student_name"].unique().tolist())
total_students

32715

In [5]:
# Total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [6]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
# Percentage of students with a passing math score (70 or greater)
math_scores_table = school_data_complete[school_data_complete["math_score"] >= 70]
percent_math_scores_over_70 = len(math_scores_table["student_name"])/len(school_data_complete["student_name"])*100
percent_math_scores_over_70

74.9808526933878

In [9]:
# Percentage of students with a passing reading score (70 or greater)
reading_scores_table = school_data_complete[school_data_complete["reading_score"] >= 70]
percent_reading_scores_over_70 = len(reading_scores_table["student_name"])/len(school_data_complete["student_name"])*100
percent_reading_scores_over_70

85.80546336482001

In [10]:
# Percentage of students who passed math and reading (% Overall Passing)
math_and_reading_table = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                              (school_data_complete["reading_score"] >= 70)]
percent_math_and_reading_pass = len(math_and_reading_table["student_name"])/len(school_data_complete["student_name"])*100
percent_math_and_reading_pass

65.17232575950983

In [11]:
school_district_summary = {"Total Schools": [total_schools], 
                           "Total Students": [total_students], 
                           "Total Budget": [total_budget], 
                           "Average Math Score": [avg_math_score], 
                           "Average Reading Score": [avg_reading_score], 
                           "% Math Passed": [percent_math_scores_over_70], 
                           "% Reading Passed": [percent_reading_scores_over_70], 
                           "% Math and Reading Passed": [percent_math_and_reading_pass]}

school_district_summary_df = pd.DataFrame(school_district_summary)
school_district_summary_df["Total Students"] = school_district_summary_df["Total Students"].map("{:,.0f}".format)
school_district_summary_df["Total Budget"] = school_district_summary_df["Total Budget"].map("${:,.0f}".format)
school_district_summary_df["Average Math Score"] = school_district_summary_df["Average Math Score"].map("{:,.2f}".format)
school_district_summary_df["Average Reading Score"] = school_district_summary_df["Average Reading Score"].map("{:,.2f}".format)
school_district_summary_df["% Math Passed"] = school_district_summary_df["% Math Passed"].map("{:,.2f}%".format)
school_district_summary_df["% Reading Passed"] = school_district_summary_df["% Reading Passed"].map("{:,.2f}%".format)
school_district_summary_df["% Math and Reading Passed"] = school_district_summary_df["% Math and Reading Passed"].map("{:,.2f}%".format)
school_district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passed,% Reading Passed,% Math and Reading Passed
0,15,"32,715","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Overview table summarizing key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [12]:
school_data_grouped = school_data_complete.groupby("school_name").agg({"type": "unique", 
                                                                       "student_name": "count", 
                                                                       "math_score": "mean", 
                                                                       "reading_score": "mean"
                                                                      })
                                        
school_data_no_index = school_data_grouped.reset_index()
school_data_no_index["type"] = school_data_no_index["type"].str[0]
school_data_no_index.rename(columns={"student_name": "number_of_students",
                                     "type": "school_type",
                                     "math_score": "avg_math_score", 
                                     "reading_score": "avg_reading_score"}, inplace=True)
schools_data_summary1 = school_data_no_index
schools_data_summary1

,school_name,school_type,number_of_students,avg_math_score,avg_reading_score
0,Bailey High School,District,4976,77.048432,81.033963
1,Cabrera High School,Charter,1858,83.061895,83.975780
2,Figueroa High School,District,2949,76.711767,81.158020
3,Ford High School,District,2739,77.102592,80.746258
4,Griffin High School,Charter,1468,83.351499,83.816757
5,Hernandez High School,District,4635,77.289752,80.934412
6,Holden High School,Charter,427,83.803279,83.814988
7,Huang High School,District,2917,76.629414,81.182722
8,Johnson High School,District,4761,77.072464,80.966394
9,Pena High School,Charter,962,83.839917,84.044699
10,Rodriguez High School,District,3999,76.842711,80.744686
11,Shelton High School,Charter,1761,83.359455,83.725724
12,Thomas High School,Charter,1635,83.418349,83.848930
13,Wilson High School,Charter,2283,83.274201,83.989488
14,Wright High School,Charter,1800,83.682222,83.955000

In [16]:
# Total Budget per School
total_budget = school_data_complete.groupby(["school_name", "budget"]).sum().reset_index()
total_budget_per_school = total_budget[["school_name", "budget"]]

# total_budget_per_school

In [17]:
# Total Budget per Student
total_budget_per_school["budget_per_student"] = total_budget_per_school["budget"] / schools_data_summary1["number_of_students"]
total_budget_per_school

total_budget_per_student = total_budget_per_school
total_budget_per_student.drop("school_name", axis=1, inplace=True)

total_budget_per_student

/Users/abayomi/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/abayomi/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     budget  budget_per_student
0   3124928               628.0
1   1081356               582.0
2   1884411               639.0
3   1763916               644.0
4    917500               625.0
5   3022020               652.0
6    248087               581.0
7   1910635               655.0
8   3094650               650.0
9    585858               609.0
10  2547363               637.0
11  1056600               600.0
12  1043130               638.0
13  1319574               578.0
14  1049400               583.0

In [18]:
# math_pass_per_school
xy = school_data_complete[school_data_complete["math_score"] >= 70]
xyz = xy[["school_name", "math_score"]]

math_pass_per_school = xyz.groupby("school_name").agg({"math_score": "count"})
math_pass_per_school.reset_index(inplace=True)
math_pass_per_school["percent_math_passed"] = math_pass_per_school["math_score"] / schools_data_summary1["number_of_students"] * 100

math_pass_per_school.drop(["math_score","school_name"], axis=1, inplace=True)
math_pass_per_school

    percent_math_passed
0             66.680064
1             94.133477
2             65.988471
3             68.309602
4             93.392371
5             66.752967
6             92.505855
7             65.683922
8             66.057551
9             94.594595
10            66.366592
11            93.867121
12            93.272171
13            93.867718
14            93.333333

In [19]:
# reading_pass_per_school
xy1 = school_data_complete[school_data_complete["reading_score"] >= 70]
xyz1 = xy1[["school_name", "reading_score"]]

reading_pass_per_school = xyz1.groupby("school_name").agg({"reading_score": "count"})
reading_pass_per_school.reset_index(inplace=True)
reading_pass_per_school["percent_reading_passed"] = reading_pass_per_school["reading_score"] / schools_data_summary1["number_of_students"] * 100

reading_pass_per_school.drop(["reading_score", "school_name"], axis=1, inplace=True)
reading_pass_per_school

    percent_reading_passed
0                81.933280
1                97.039828
2                80.739234
3                79.299014
4                97.138965
5                80.862999
6                96.252927
7                81.316421
8                81.222432
9                95.945946
10               80.220055
11               95.854628
12               97.308869
13               96.539641
14               96.611111

In [20]:
# % Overall Passing
xy12 = math_and_reading_table.groupby("school_name").agg({"reading_score": "count", "math_score": "count"})
xy12.reset_index(inplace=True)
xy12["overall_percent_passed"] = xy12["math_score"] / schools_data_summary1["number_of_students"] * 100
overall_pass_per_school = xy12.drop(["reading_score", "math_score", "school_name"], axis=1)
overall_pass_per_school

    overall_percent_passed
0                54.642283
1                91.334769
2                53.204476
3                54.289887
4                90.599455
5                53.527508
6                89.227166
7                53.513884
8                53.539172
9                90.540541
10               52.988247
11               89.892107
12               90.948012
13               90.582567
14               90.333333

In [21]:
merged_school_data = pd.concat([schools_data_summary1,  
                                total_budget_per_student,
                                math_pass_per_school, 
                                reading_pass_per_school, 
                                overall_pass_per_school], axis=1)
merged_school_data

,school_name,school_type,number_of_students,avg_math_score,avg_reading_score,budget,budget_per_student,percent_math_passed,percent_reading_passed,overall_percent_passed
0,Bailey High School,District,4976,77.048432,81.033963,3124928,628.0,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,83.061895,83.975780,1081356,582.0,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,76.711767,81.158020,1884411,639.0,65.988471,80.739234,53.204476
3,Ford High School,District,2739,77.102592,80.746258,1763916,644.0,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,83.351499,83.816757,917500,625.0,93.392371,97.138965,90.599455
5,Hernandez High School,District,4635,77.289752,80.934412,3022020,652.0,66.752967,80.862999,53.527508
6,Holden High School,Charter,427,83.803279,83.814988,248087,581.0,92.505855,96.252927,89.227166
7,Huang High School,District,2917,76.629414,81.182722,1910635,655.0,65.683922,81.316421,53.513884
8,Johnson High School,District,4761,77.072464,80.966394,3094650,650.0,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,83.839917,84.044699,585858,609.0,94.594595,95.945946,90.540541
10,Rodriguez High School,District,3999,76.842711,80.744686,2547363,637.0,66.366592,80.220055,52.988247
11,Shelton High School,Charter,1761,83.359455,83.725724,1056600,600.0,93.867121,95.854628,89.892107
12,Thomas High School,Charter,1635,83.418349,83.848930,1043130,638.0,93.272171,97.308869,90.948012
13,Wilson High School,Charter,2283,83.274201,83.989488,1319574,578.0,93.867718,96.539641,90.582567
14,Wright High School,Charter,1800,83.682222,83.955000,1049400,583.0,93.333333,96.611111,90.333333

In [26]:
# school_data_grouped_df = pd.DataFrame(school_data_grouped)
# school_data_grouped_df["Total Budget"] = totat_school_budget
# school_data_grouped_df["Per Student Budget"] = per_student_budget
# school_data_grouped_df["% Passing Math"] = percent_math_per_school
# school_data_grouped_df["% Passing Reading"] = percent_reading_per_school
# school_data_grouped_df["% Overall Passing"] = percent_overall_pass_per_school
# school_data_grouped_df["Per Student Budget"] = school_data_grouped_df["Per Student Budget"].map("${:.2f}".format)
# school_data_grouped_df["Total Budget"] = school_data_grouped_df["Total Budget"].map("${:,.0f}".format)
# school_data_grouped_df1 = school_data_grouped_df.rename(columns={"type": "School Type", "student_name": "Total Students", 
#                                        "math_score": "Average Math Score", "reading_score": "Average Reading Score"})

In [27]:
# Rearranging and formatting columns
# column_names = ["School Type", 
#                 "Total Students", 
#                 "Total Budget", 
#                 "Per Student Budget", 
#                 "Average Math Score", 
#                 "Average Reading Score", 
#                 "% Passing Math", 
#                 "% Passing Reading", 
#                 "% Overall Passing"]
# summary_schools = school_data_grouped_df1.reindex(columns=column_names)
# summary_schools["Average Math Score"] = summary_schools["Average Math Score"].map("{:,.2f}".format)
# summary_schools["Average Reading Score"] = summary_schools["Average Reading Score"].map("{:,.2f}".format)
# summary_schools["% Passing Math"] = summary_schools["% Passing Math"].map("{:,.2f}%".format)
# summary_schools["% Passing Reading"] = summary_schools["% Passing Reading"].map("{:,.2f}%".format)
# summary_schools["% Overall Passing"] = summary_schools["% Overall Passing"].map("{:,.2f}%".format)
# summary_schools

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing_schools = summary_schools.groupby(["% Overall Passing", "school_name"]).size().sort_values(ascending=False)
top_performing_schools.to_frame()
top_five_schools = top_performing_schools.reset_index()
column_names = ["school_name", "% Overall Passing"]

top_five_schools = top_five_schools.reindex(columns=column_names)
top_five_schools.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
top_five_schools.tail()

## Math Scores by Grade

* Creating a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
math_data_grouped = school_data_complete.groupby(["school_name", "grade"])["math_score"].agg([np.mean])
math_scores_by_grade = math_data_grouped.rename(columns={"mean": "Average Math Score"})
math_scores_by_grade["Average Math Score"] = math_scores_by_grade["Average Math Score"].map("{:,.2f}".format)
math_scores_by_grade

## Reading Score by Grade

In [ ]:
reading_data_grouped = school_data_complete.groupby(["school_name", "grade"])["reading_score"].agg([np.mean])
reading_scores_by_grade = reading_data_grouped.rename(columns={"mean": "Average Reading Score"})
reading_scores_by_grade["Average Reading Score"] = reading_scores_by_grade["Average Reading Score"].map("{:,.2f}".format)
reading_scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type