In [1]:
import pandas as pd
import numpy as np

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
school_data_complete.shape

(39170, 11)

## District Summary

* Total number of schools

* Total number of students

* Total budget

* Average math score 

* Average reading score

* Percentage of students with a passing math score (70 or greater)

* Percentage of students with a passing reading score (70 or greater)

* Percentage of students who passed math **and** reading (% Overall Passing)

In [3]:
# Total Number of Schools
total_schools = len(school_data_complete["school_name"].unique().tolist())
total_schools

15

In [4]:
# Total Number of Students
total_students = school_data_complete["budget"].count()
total_students

39170

In [5]:
# Total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [6]:
# Average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
# Average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
# Percentage of students with a passing math score (70 or greater)
math_scores_table = school_data_complete[school_data_complete["math_score"] >= 70]
percent_math_scores_over_70 = len(math_scores_table["student_name"])/len(school_data_complete["student_name"])*100
percent_math_scores_over_70

74.9808526933878

In [9]:
# Percentage of students with a passing reading score (70 or greater)
reading_scores_table = school_data_complete[school_data_complete["reading_score"] >= 70]
percent_reading_scores_over_70 = len(reading_scores_table["student_name"])/len(school_data_complete["student_name"])*100
percent_reading_scores_over_70

85.80546336482001

In [10]:
# Percentage of students who passed math and reading (% Overall Passing)
math_and_reading_table = school_data_complete[(school_data_complete["math_score"] >= 70) & 
                                              (school_data_complete["reading_score"] >= 70)]
percent_math_and_reading_pass = len(math_and_reading_table["student_name"])/len(school_data_complete["student_name"])*100
percent_math_and_reading_pass

65.17232575950983

In [11]:
school_district_summary = {"Total Schools": [total_schools], 
                           "Total Students": [total_students], 
                           "Total Budget": [total_budget], 
                           "Average Math Score": [avg_math_score], 
                           "Average Reading Score": [avg_reading_score], 
                           "% Math Passed": [percent_math_scores_over_70], 
                           "% Reading Passed": [percent_reading_scores_over_70], 
                           "% Math and Reading Passed": [percent_math_and_reading_pass]}

school_district_summary_df = pd.DataFrame(school_district_summary)
school_district_summary_df["Total Students"] = school_district_summary_df["Total Students"].map("{:,.0f}".format)
school_district_summary_df["Total Budget"] = school_district_summary_df["Total Budget"].map("${:,.0f}".format)
school_district_summary_df["Average Math Score"] = school_district_summary_df["Average Math Score"].map("{:,.2f}".format)
school_district_summary_df["Average Reading Score"] = school_district_summary_df["Average Reading Score"].map("{:,.2f}".format)
school_district_summary_df["% Math Passed"] = school_district_summary_df["% Math Passed"].map("{:,.2f}%".format)
school_district_summary_df["% Reading Passed"] = school_district_summary_df["% Reading Passed"].map("{:,.2f}%".format)
school_district_summary_df["% Math and Reading Passed"] = school_district_summary_df["% Math and Reading Passed"].map("{:,.2f}%".format)
school_district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passed,% Reading Passed,% Math and Reading Passed
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Overview table summarizing key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [12]:
school_data_grouped = school_data_complete.groupby("school_name").agg({"type": "unique", "student_name": "count", 
                                                                       "math_score": "mean", "reading_score": "mean"
                                                                      })
                                        
school_data_no_index = school_data_grouped.reset_index()
school_data_no_index

              school_name        type  student_name  math_score  reading_score
0      Bailey High School  [District]          4976   77.048432      81.033963
1     Cabrera High School   [Charter]          1858   83.061895      83.975780
2    Figueroa High School  [District]          2949   76.711767      81.158020
3        Ford High School  [District]          2739   77.102592      80.746258
4     Griffin High School   [Charter]          1468   83.351499      83.816757
5   Hernandez High School  [District]          4635   77.289752      80.934412
6      Holden High School   [Charter]           427   83.803279      83.814988
7       Huang High School  [District]          2917   76.629414      81.182722
8     Johnson High School  [District]          4761   77.072464      80.966394
9        Pena High School   [Charter]           962   83.839917      84.044699
10  Rodriguez High School  [District]          3999   76.842711      80.744686
11    Shelton High School   [Charter]          1761   83.359455      83.725724
12     Thomas High School   [Charter]          1635   83.418349      83.848930
13     Wilson High School   [Charter]          2283   83.274201      83.989488
14     Wright High School   [Charter]          1800   83.682222      83.955000

In [13]:
# Total Budget per School
total_budget = school_data_complete.groupby(["school_name", "budget"]).sum().reset_index()
totat_school_budget = list(total_budget["budget"])
print(totat_school_budget, len(totat_school_budget))

[3124928, 1081356, 1884411, 1763916, 917500, 3022020, 248087, 1910635, 3094650, 585858, 2547363, 1056600, 1043130, 1319574, 1049400] 15

In [14]:
# Total Budget per Student
student_counts = list(school_data_grouped["student_name"])
per_student_budget = [j/i for i, j in zip(student_counts, totat_school_budget)]
print(per_student_budget, len(per_student_budget))

[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581.0, 655.0, 650.0, 609.0, 637.0, 600.0, 638.0, 578.0, 583.0] 15

In [15]:
# % Passing Math
math_pass_per_school = school_data_complete.groupby(["school_name", 
                                                     school_data_complete["math_score"] >= 70])
x = list(math_pass_per_school.count()["Student ID"])
num_of_pass_math = x[1::2]
percent_math_per_school = [i/j*100 for i, j in zip(num_of_pass_math, student_counts)]
print(percent_math_per_school, len(percent_math_per_school))

[66.68006430868168, 94.1334768568353, 65.98847066802306, 68.3096020445418, 93.39237057220708, 66.7529665587918, 92.50585480093677, 65.68392183750429, 66.0575509346776, 94.5945945945946, 66.36659164791197, 93.8671209540034, 93.27217125382263, 93.8677179150241, 93.33333333333333] 15

In [16]:
# % Passing Reading
reading_pass_per_school = school_data_complete.groupby(["school_name", 
                                                     school_data_complete["reading_score"] >= 70])
y = list(reading_pass_per_school.count()["Student ID"])
num_of_pass_reading = y[1::2]
percent_reading_per_school = [(i/j)*100 for i, j in zip(num_of_pass_reading, student_counts)]
print(percent_reading_per_school, len(percent_reading_per_school))

[81.93327974276528, 97.03982777179763, 80.73923363852154, 79.29901423877328, 97.13896457765668, 80.86299892125135, 96.25292740046838, 81.31642098045938, 81.2224322621298, 95.94594594594594, 80.22005501375344, 95.85462805224304, 97.30886850152906, 96.53964082347788, 96.61111111111111] 15

In [17]:
# % Overall Passing
overall_pass_per_school = school_data_complete.groupby(["school_name", 
                                                     school_data_complete["reading_score"] 
                                                        & school_data_complete["math_score"] >= 70])
z = list(overall_pass_per_school.count()["Student ID"])
num_of_overall_pass = z[1::2]
percent_overall_pass_per_school = [(i/j)*100 for i, j in zip(num_of_overall_pass, student_counts)]
print(percent_overall_pass_per_school, len(percent_overall_pass_per_school))

[30.345659163987136, 50.861141011840694, 30.111902339776197, 30.48557867834976, 50.13623978201635, 31.024811218985977, 49.64871194379391, 29.51662667123757, 30.18273471959672, 49.8960498960499, 29.607401850462615, 49.74446337308348, 51.19266055045871, 49.89049496276829, 51.55555555555556] 15

In [18]:
school_data_grouped_df = pd.DataFrame(school_data_grouped)
school_data_grouped_df["Total Budget"] = totat_school_budget
school_data_grouped_df["Per Student Budget"] = per_student_budget
school_data_grouped_df["% Passing Math"] = percent_math_per_school
school_data_grouped_df["% Passing Reading"] = percent_reading_per_school
school_data_grouped_df["% Overall Passing"] = percent_overall_pass_per_school
school_data_grouped_df["Per Student Budget"] = school_data_grouped_df["Per Student Budget"].map("${:.2f}".format)
school_data_grouped_df["Total Budget"] = school_data_grouped_df["Total Budget"].map("${:,.0f}".format)
school_data_grouped_df1 = school_data_grouped_df.rename(columns={"type": "School Type", "student_name": "Total Students", 
                                       "math_score": "Average Math Score", "reading_score": "Average Reading Score"})

In [19]:
# Rearranging and formatting columns
column_names = ["School Type", 
                "Total Students", 
                "Total Budget", 
                "Per Student Budget", 
                "Average Math Score", 
                "Average Reading Score", 
                "% Passing Math", 
                "% Passing Reading", 
                "% Overall Passing"]
summary_schools = school_data_grouped_df1.reindex(columns=column_names)
summary_schools["Average Math Score"] = summary_schools["Average Math Score"].map("{:,.2f}".format)
summary_schools["Average Reading Score"] = summary_schools["Average Reading Score"].map("{:,.2f}".format)
summary_schools["% Passing Math"] = summary_schools["% Passing Math"].map("{:,.2f}%".format)
summary_schools["% Passing Reading"] = summary_schools["% Passing Reading"].map("{:,.2f}%".format)
summary_schools["% Overall Passing"] = summary_schools["% Overall Passing"].map("{:,.2f}%".format)
summary_schools

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928",$628.00,77.05,81.03,66.68%,81.93%,30.35%
Cabrera High School,[Charter],1858,"$1,081,356",$582.00,83.06,83.98,94.13%,97.04%,50.86%
Figueroa High School,[District],2949,"$1,884,411",$639.00,76.71,81.16,65.99%,80.74%,30.11%
Ford High School,[District],2739,"$1,763,916",$644.00,77.10,80.75,68.31%,79.30%,30.49%
Griffin High School,[Charter],1468,"$917,500",$625.00,83.35,83.82,93.39%,97.14%,50.14%
Hernandez High School,[District],4635,"$3,022,020",$652.00,77.29,80.93,66.75%,80.86%,31.02%
Holden High School,[Charter],427,"$248,087",$581.00,83.80,83.81,92.51%,96.25%,49.65%
Huang High School,[District],2917,"$1,910,635",$655.00,76.63,81.18,65.68%,81.32%,29.52%
Johnson High School,[District],4761,"$3,094,650",$650.00,77.07,80.97,66.06%,81.22%,30.18%
Pena High School,[Charter],962,"$585,858",$609.00,83.84,84.04,94.59%,95.95%,49.90%
Rodriguez High School,[District],3999,"$2,547,363",$637.00,76.84,80.74,66.37%,80.22%,29.61%
Shelton High School,[Charter],1761,"$1,056,600",$600.00,83.36,83.73,93.87%,95.85%,49.74%
Thomas High School,[Charter],1635,"$1,043,130",$638.00,83.42,83.85,93.27%,97.31%,51.19%
Wilson High School,[Charter],2283,"$1,319,574",$578.00,83.27,83.99,93.87%,96.54%,49.89%
Wright High School,[Charter],1800,"$1,049,400",$583.00,83.68,83.95,93.33%,96.61%,51.56%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type